.menu {
  color: #5ec2c6;
  text-align: center;
  width: 100vw;
  display: flex;

  &__link {
    width: 25%;
    padding: 10px auto;
    font-size: 1rem;
    font-weight: bolder;
    border: solid 1px #5ec2c6;
    a:visited {
      color: #5ec2c6;
    }
  }
}
